*.elf
*.o
Image
archdt/arch_Image
beacon.kpart
bootloader.bin
build.log
fakehana/*.png
fakehana/__pycache__/
flash-launch.log
flash.log
fw/
image.itb
out.kpart
preview.png
releases/wave-os-v1.1[0-9]*.kpart
releases/wave-os-v1.2*.kpart
releases/wave-os-v1.3[0-9]*.kpart
releases/wave-os-v1.4-*.kpart
releases/wave-os-v1.[4-9]*.kpart
releases/wave-os-v[2-9].*.kpart
